<p style="color: green"><%= notice %></p>

<h1>Puppies</h1>

<div id="puppies">
  <% @puppies.each do |puppy| %>
    <%= render puppy %>
    <p>
      <%= link_to "Show this puppy", puppy %>
      <%= button_to "Reserve this puppy", checkout_create_path, params: {id: puppy.id}, data: { turbo: false }, remote: true %>
    </p>
  <% end %>
</div>

<%= link_to "New puppy", new_puppy_path %>
